<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kashvi Mody</title>
    <link rel="stylesheet" href="static/style_developers.css">
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="preconnect" href="">
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
</head>
<body>
    <section class="about">
        <div class="main">
            <img src="kashvi_photo.jpg" alt="KASHVI MODY IMAGE">
            <div class="about-text">
                <h1>About Us</h1>
                <h5>Developer<span> and Designer</h5>
                <p>
                    Student at K.J.Somaiya College of Engineering.
                    <div class="social-media">
                        <p>Connect with me :</p>
                        <div class="social-icons">
                          <a href="https://www.facebook.com/">
                            <i class="fab fa-facebook-f"></i>
                          </a>
                          <a href="https://twitter.com/KashviMody">
                            <i class="fab fa-twitter"></i>
                          </a>
                          <a href="https://www.instagram.com/kashvi_mody/">
                            <i class="fab fa-instagram"></i>
                          </a>
                          <a href="https://www.linkedin.com/in/kashvi-mody-174989225/">
                            <i class="fab fa-linkedin-in"></i>
                          </a>
                        </div>
                      </div>

                </p>
                <button type="button">Let's Connect</button>
            </div>

        </div>

    </section>
</body>
</html>